@import 'tailwindcss';

@theme {
    --color-primary: #176688;
    --color-secondary: #27AAE2;
    --color-tertiary: #93D5F1;
    --color-surface: #FAFAFA;
    --color-surface-high: #FFFFFF;
    --color-surface-low: #F8F8F8;
}

.button-primary {
    @apply bg-primary text-white px-4 py-2.5 rounded-md shadow-md hover:bg-primary/90 gap-2 inline-flex items-center hover:cursor-pointer;
}

.button-secondary {
    @apply bg-surface-high text-primary px-4 py-2.5 rounded-md shadow-md hover:bg-gray-100 gap-2 inline-flex items-center hover:cursor-pointer border border-gray-200;
}

.button-danger {
    @apply flex items-center px-4 py-2.5 rounded-lg gap-3 text-red-600 hover:text-white font-medium
    transition-colors duration-150 ease-in-out bg-white hover:bg-red-600 hover:shadow-md hover:cursor-pointer;
}

.form-title {
    @apply text-2xl text-primary font-bold;
}

.input-group {
    @apply flex flex-col gap-1 mt-3;
}

.input-label {
    @apply block w-full text-primary text-base leading-tight;
}

.input-field {
    @apply focus:ring-primary focus:border-primary focus:border-2 focus:outline-none block w-full pl-10 pr-3 py-3 sm:text-sm border-[1px] border-gray-300 rounded-md;
}

.input-select {
    @apply focus:ring-primary focus:border-primary focus:border-2 focus:outline-none block w-full pl-10 pr-5 py-3 sm:text-sm border-[1px] border-gray-300 rounded-md text-gray-700;
}

.input-icon {
    @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none mt-3;
}

.sidebar-link {
    @apply flex items-center px-4 py-3 rounded-lg gap-3 text-primary font-medium
    transition-colors duration-150 ease-in-out hover:text-primary/80 hover:bg-surface hover:shadow-md;
}

.sidebar-link-active {
    @apply flex items-center px-4 py-3 bg-primary text-white rounded-lg gap-3 font-medium
    transition-colors duration-150 ease-in-out;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

